<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
        用户名：<input type="text" name="name" />
        密码：<input type="text" name="pwd" />
        <input type="submit" value="按死"/>
    </form>
</body>
</html>